pkgbase = deepin-wine-tim
	pkgdesc = Tencent TIM on Deepin Wine5(com.qq.office.deepin) For Archlinux
	pkgver = 3.3.9.22051
	pkgrel = 1
	url = https://tim.qq.com/
	install = deepin-wine-tim.install
	arch = x86_64
	license = custom
	depends = p7zip
	depends = deepin-wine5
	depends = deepin-wine-helper>=5.1.30_1-1
	depends = xorg-xwininfo
	depends = wqy-microhei
	depends = lib32-alsa-lib
	depends = lib32-alsa-plugins
	depends = lib32-libpulse
	depends = lib32-openal
	depends = lib32-mpg123
	depends = lib32-gnutls
	conflicts = wine-tim
	conflicts = deepin.com.qq.office
	conflicts = deepin-tim-for-arch
	source = https://com-store-packages.uniontech.com/appstore/pool/appstore/c/com.qq.im.deepin/com.qq.im.deepin_9.3.2deepin20_i386.deb
	source = https://dldir1.qq.com/qqfile/qq/TIM3.3.9/TIM3.3.9.22051.exe
	source = run.sh
	source = share.7z
	md5sums = 5fdc20e614d945bd2ba5251420872479
	md5sums = e5b97081022766415bd22d21fba706f6
	md5sums = cb8c2f007930241730cede526094fae5
	md5sums = 479ae2a04a9c5dcc08c67c7b1395a944

pkgname = deepin-wine-tim
