pkgbase = deepin-wine-tim
	pkgdesc = Tencent TIM (com.qq.office) on Deepin Wine For Archlinux
	pkgver = 3.1.0.21789
	pkgrel = 1
	url = http://tim.qq.com/
	install = deepin-wine-tim.install
	arch = x86_64
	license = custom
	depends = p7zip
	depends = wine
	depends = wine-mono
	depends = wine-gecko
	depends = xorg-xwininfo
	depends = wqy-microhei
	depends = lib32-alsa-lib
	depends = lib32-alsa-plugins
	depends = lib32-libpulse
	depends = lib32-openal
	depends = lib32-mpg123
	depends = lib32-gnutls
	conflicts = wine-tim
	conflicts = deepin.com.qq.office
	conflicts = deepin-tim-for-arch
	source = https://mirrors.ustc.edu.cn/deepin/pool/non-free/d/deepin.com.qq.office/deepin.com.qq.office_2.0.0deepin4_i386.deb
	source = https://dldir1.qq.com/qqfile/qq/TIM3.1.0/TIM3.1.0.21789.exe
	source = run.sh
	source = reg.patch
	md5sums = d5c37cb4f960e13111ce24dbc0dd2d58
	md5sums = 344c9438db69db52c86f3fa575dff143
	md5sums = 20625edae7b3d57e9f624fe473d4f7fa
	md5sums = 8cdb3c8863cee35a54fe5ba29e770fd3

pkgname = deepin-wine-tim

